body {
  font-family: sans-serif;
}

.square {
  width: 75px;
  height: 75px;
  background: lightblue;
  border: 1px solid darkcyan;
  border-right: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border-bottom: none;
}

.square:last-child {
  border-right: 1px solid darkcyan;
}

div[id^="row_"]:last-child > .square {
  border-bottom: 1px solid darkcyan;
}

.diamond {
  width: 70%;
  height: 70%;
}

.scoreboard {
  background: darkorchid;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  padding: 16px;
  bottom: calc(50% + 32px);
}

.replay-btn {
  background: darkorchid;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  box-shadow: none;
  padding: 0 1rem;
}